<ion-view view-title="Company Loyalties">
	<ion-content class="padding tripsy-bg">
	<div class="row">
	<img src="img/pt_remain_3.png" alt="Points Remaining" id="remain">
	</div>
	<div class="row">
	<div class="col col-33"><img src="img/money_saved_3.png" alt="points used" id="used"></div>
	<div class="col col-33 col-offset-25"><img src="img/pt_used_3.png" alt="money saved" id="save"></div>
	</div>
	<ion-list>
		<ion-item class="item item-text-wrap item-calm">
		<h2 class="title" style="color:#fffs;">Your Usage of the points is  <b>3 % </b>. Please try to go for a cheaper pack or use the points system more.</h2>
		</ion-item>
	</ion-list>
	</ion-content>
</ion-view>