<ion-view view-title="Places to Eat">
<ion-content>
    <p><h3 class="text-center">Places to Eat</h3></p>
    <div class="list">

    <a class="item item-thumbnail" href="#">
      <img src="img/6.jpg">
      <h2>Dough</h2>
      <p>You can’t really go wrong with any of the icing-covered behemoths at Fany Gerson’s cult-favorite shop, but when this special -- smothered in a tart frosting and dusted with graham cracker crumbs -- makes an appearance, it’s the one to try.</p>
    </a>
    <a class="item item-thumbnail" href="#">
      <img src="img/7.jpg">
      <h2>Taco Chulo</h2>
      <p>There are many nominees for most likely to need a napkin, but only one official winner, and it’s Taco Chulo’s Nachos Chulos. As a constituent of the cheese sauce community, Taco Chulo’s namesake ‘chos pour on the orange cheese generously along with crema, pico de gallo, and fresh guacamole.</p>
    </a>
    <a class="item item-thumbnail" href="#">
      <img src="img/8.jpg">
      <h2>Barboncino</h2>
      <p>The sweet, brunch-only, brick-oven pies topped with pancetta and egg, pear and gorgonzola, or ricotta and sweet apples are spectacular, to say nothing of the Nutella and banana calzone.</p>
    </a>
    <a class="item item-thumbnail" href="#">
      <img src="img/9.jpg">
      <h2>Tumulty’s</h2>
      <p>Expect nothing but straight-up decent pub fare at this university stalwart, like massive 10oz, build-your-own burgers. Eat ‘em on Tuesdays for only $5</p>
    </a>
    <a class="item item-thumbnail" href="#">
      <img src="img/10.jpg">
      <h2>Wayland</h2>
      <p>This bar is the best of the Best Bars of Alphabet City. Confused? You won’t be once you try the exceptional cocktails, or the double-smoked, slow-cooked bourbon and maple syrup pork belly BLT, or experience one of their secret magical lobster parties. Plus, lively bands are here four nights a week, almost every week. </p>
    </a>   

</div>
  </ion-content>
</ion-view>
