<ion-view view-title="Admin Login" name="login-view">
  <ion-content class="padding tripsy-bg">
      <div class="list list-inset tripsy-bg">
          <label class="item item-input item-floating-label no-top-border">
          <span class="input-label white-color">Email</span>
          <input type="text" placeholder="Email" ng-model="data.email">
        </label>
      </div>
      <button class="button button-block button-calm" ng-click="password_submit()">Submit</button>
  </ion-content>
</ion-view>